{include file='public/header' /}
{include file='public/menu' /}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <img style="width: 100%" src="https://upload.jianshu.io/admin_banners/web_images/4605/1d5cb81933dbb48ab0aa53d481a1300fc5406e7f.png?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540
" alt="">
            <hr>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 77%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">IntelliJ IDEA
                        新版发布：支持CPU火焰图，新增酷炫主题</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">睡前2个小时决定人生
                        早晨起床的生活习惯，可以决定人的“一天”。而睡前的生活习惯将决定人的“人生”。 睡前2个小时，该做的事情和不该做的事情 那...</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
                <div class="bg-secondary" style="width: 23%;display: inline-block; float: right">
                    <img src="https://upload-images.jianshu.io/upload_images/1202579-bfd335aed818addb?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                         alt="" width="100%" style="border-radius: 5px;">
                </div>
            </div>
            <hr>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 77%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">IntelliJ IDEA
                        新版发布：支持CPU火焰图，新增酷炫主题</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">睡前2个小时决定人生
                        早晨起床的生活习惯，可以决定人的“一天”。</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
                <div class="bg-secondary" style="width: 23%;display: inline-block; float: right">
                    <img src="https://upload-images.jianshu.io/upload_images/9040811-2a103d8c8c46f667.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                         alt="" width="100%" style="border-radius: 5px;">
                </div>
            </div>
            <hr>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 100%;display: inline-block;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">使用Cmder替换cmd，让开发更高效</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;width: 100%">睡前2个小时决定人生
                        早晨起床的生活习惯，可以决定人的“一天”。而睡前的生活习惯将决定人的“人生”。 睡前2个小时，该做的事情和不该做的事情 那...</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
            </div>
            <div class="item mgb-20 mgt-20" style="overflow: hidden;">
                <a href="" style="width: 45%;text-align: center;background: #aaa;display: inline-block;border-radius: 35px;color: #fff;line-height: 35px;">上一页</a>
                <a href="" style="width: 45%;text-align: center;background: #aaa;display: inline-block;border-radius: 35px;color: #fff;line-height: 35px;float: right">下一页</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="column">
                <div class="mgb-20" style="height: 50px;background: #FEBB50;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F69281;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #F6B890;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #C1E4DE;border-radius: 5px;"></div>
                <div class="mgb-20" style="height: 50px;background: #B7D6EC;border-radius: 5px;"></div>
            </div>

            <div class="column">
                <div class="title mgb-20" style="color: #555;font-size: 14px;">推荐作者</div>
                <hr>
                <div class="item" style="height: 75px;border-bottom: 1px #eee dashed;overflow: hidden;">
                    <div style="width: 20%;display: inline-block;height: auto">
                        <img style="width:85%;border-radius: 50px;border: 1px #eee solid"
                              src="https://upload.jianshu.io/users/upload_avatars/13213889/7314c5cc-ca7f-4542-b914-2c8dffaf324d.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
                              alt="">
                    </div>
                    <div style="width: 60%;height:100%;display: inline-block;color: #666;">
                        <div class="" style="position:relative;top: 15px;">
                            <span style="font-size: 14px;">骑龟看海</span><br>
                            <span style="font-size: 12px;">写了175.5k字 · 694喜欢</span>
                        </div>
                    </div>
                    <a style="width: 20%;" href="">+ 关注</a>
                </div>
                <div class="item" style="height: 75px;border-bottom: 1px #eee dashed;overflow: hidden;">
                    <div style="width: 20%;display: inline-block;height: auto">
                        <img style="width:85%;border-radius: 50px;border: 1px #eee solid"
                             src="https://upload.jianshu.io/users/upload_avatars/2631077/dc99c361412c?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
                             alt="">
                    </div>
                    <div style="width: 60%;height:100%;display: inline-block;color: #666;">
                        <div class="" style="position:relative;top: 15px;">
                            <span style="font-size: 14px;">无限火力</span><br>
                            <span style="font-size: 12px;">写了175.5k字 · 694喜欢</span>
                        </div>
                    </div>
                    <a style="width: 20%;" href="">+ 关注</a>
                </div>
                <div class="item" style="height: 75px;border-bottom: 1px #eee dashed;overflow: hidden;">
                    <div style="width: 20%;display: inline-block;height: auto">
                        <img style="width:85%;border-radius: 50px;border: 1px #eee solid"
                             src="https://upload.jianshu.io/users/upload_avatars/8781442/79bf6acc-5dd3-49d1-9e2b-6c58066c1442.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
                             alt="">
                    </div>
                    <div style="width: 60%;height:100%;display: inline-block;color: #666;">
                        <div class="" style="position:relative;top: 15px;">
                            <span style="font-size: 14px;">无限火力</span><br>
                            <span style="font-size: 12px;">写了175.5k字 · 694喜欢</span>
                        </div>
                    </div>
                    <a style="width: 20%;" href="">+ 关注</a>
                </div>
                <div class="item" style="height: 75px;border-bottom: 1px #eee dashed;overflow: hidden;">
                    <div style="width: 20%;display: inline-block;height: auto">
                        <img style="width:85%;border-radius: 50px;border: 1px #eee solid"
                             src="https://upload.jianshu.io/users/upload_avatars/10849033/a3e12f47-c81c-4659-9c80-117f8b337408.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp"
                             alt="">
                    </div>
                    <div style="width: 60%;height:100%;display: inline-block;color: #666;">
                        <div class="" style="position:relative;top: 15px;">
                            <span style="font-size: 14px;">无限火力</span><br>
                            <span style="font-size: 12px;">写了175.5k字 · 694喜欢</span>
                        </div>
                    </div>
                    <a style="width: 20%;" href="">+ 关注</a>
                </div>

            </div>
        </div>
    </div>
</main>

{load href="/static/plugin/bootstrap/assets/js/vendor/jquery-slim.min.js" /}
{load href="/static/plugin/bootstrap/dist/js/bootstrap.min.js" /}
{include file='public/footer' /}
