{include file='public/header' /}
{include file='public/menu' /}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <img style="width: 100%" src="https://upload.jianshu.io/admin_banners/web_images/4605/1d5cb81933dbb48ab0aa53d481a1300fc5406e7f.png?imageMogr2/auto-orient/strip|imageView2/1/w/1250/h/540
" alt="">
            <hr>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 77%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">IntelliJ IDEA 新版发布：支持CPU火焰图，新增酷炫主题</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">睡前2个小时决定人生 早晨起床的生活习惯，可以决定人的“一天”。而睡前的生活习惯将决定人的“人生”。 睡前2个小时，该做的事情和不该做的事情 那...</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
                <div class="bg-secondary" style="width: 23%;display: inline-block; float: right">
                    <img src="https://upload-images.jianshu.io/upload_images/1202579-bfd335aed818addb?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                         alt="" width="100%">
                </div>
            </div>
            <hr>
            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 77%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">IntelliJ IDEA 新版发布：支持CPU火焰图，新增酷炫主题</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;">睡前2个小时决定人生 早晨起床的生活习惯，可以决定人的“一天”。而睡前的生活习惯将决定人的“人生”。 睡前2个小时，该做的事情和不该做的事情 那...</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
                <div class="bg-secondary" style="width: 23%;display: inline-block; float: right">
                    <img src="https://upload-images.jianshu.io/upload_images/9040811-2a103d8c8c46f667.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/360/h/240"
                         alt="" width="100%">
                </div>
            </div>

            <hr>

            <div class="item" style="overflow: hidden;">
                <div class="" style="width: 100%;display: inline-block;padding-right: 1rem;">
                    <a class="limit-line-1" style="font-size: 16px; font-weight: bold;color: #444" href="">IntelliJ IDEA 新版发布：支持CPU火焰图，新增酷炫主题</a>
                    <p class="limit-line-2" style="margin-top:10px;color: #888;font-size: 14px;width: 100%">睡前2个小时决定人生 早晨起床的生活习惯，可以决定人的“一天”。而睡前的生活习惯将决定人的“人生”。 睡前2个小时，该做的事情和不该做的事情 那...</p>
                    <p style="color: #aaa;font-size: 12px;">
                        [ 2018-01-01 14:22 ]
                        杂七杂八
                        评论(29)
                        浏览(151)
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="column">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</main>

{load href="/static/plugin/bootstrap/assets/js/vendor/jquery-slim.min.js" /}
{load href="/static/plugin/bootstrap/dist/js/bootstrap.min.js" /}
{include file='public/footer' /}
