{include file='public/header' /}
{include file='public/menu' /}
{load href="/static/plugin/mdeditor/css/editormd.css" /}

<h1>EDITOR</h1>

<div class="layout">
    <div id="test-editormd">
        <textarea style="display:none;"></textarea>
    </div>
</div>

{load href="/static/js/jquery-3.3.1.min.js" /}
{load href="/static/plugin/mdeditor/editormd.js" /}
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            toolbarIcons: "simple",
            path: "/static/plugin/mdeditor/lib/"
        });
    });
</script>

{include file='public/footer' /}